* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* header {
    display: ;
    background-size: cover;
    height: 650px;
} */

.header-container {
    /* display: flex;
    background: rgba(229, 84, 115, 0.10);
    color: white;
    background-size: cover;
    padding: 30px ; */
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    color: white;
    background-size: cover;
    height: 580px;
    width: auto;
    padding: 30px
        /* width: 100%; */

}

.header-container-text {
    display: inline;
    width: 70%;
    margin: auto;
}

.header-container-text>h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 708px;
    flex-direction: column;

}

.header-container-text p {
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px;
}

.header-btn {
    /* margin-top: 15px;
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700; */
    border: none;
    background-color: #E55473;
    color: #FFFFFF;
    padding: 16px 37px;
    border-radius: 5px;
    font-size: 18px;
   margin: 10px;
}

.header-img {
    /* width: 40%;
    height: 550px;
    background-repeat: no-repeat; */
    width: 500px;
    height: 590px;
    margin-top: 25px;

}

.header-img img {
    height: 100%;
}

.flower-container h1 {
    margin-top: 100px;
    color: #272727;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    padding-bottom: 10px;
}

.flower-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    width: 40%;
    margin: auto;
}

.daily-section {
    padding-top: 100px;
}

.flower-display {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 15px;
}

.flower-pic1 {
    width: 330px;
    height: 400px;
    /* flex-shrink: 0; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-pic1 img {
    width: 250px;
    height: 400px;
    /* padding: 20px; */
    size: 40px;
}

.flower-pic2 img {
    width: 280px;
    height: 360px;
    padding: 20px;
    size: 40px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-pic3 img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 320px;
    height: 400px;
    flex-shrink: 0;
}

.img-btn p {
    color: #272727;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.service-cards {
    margin-top: 50px;
    padding-top: 14px;
    display: flex;
    justify-content: space-around;
    /* background: #000; */
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 80%;
    margin: auto;
    /* width: 1440px; */
    height: 200px;
    flex-shrink: 0;
    align-items: center;
}

.card>img {
    width: 60px;
    height: 60px;
    /* position: fixed; */
    /* justify-content: safe; */
    align-items: center;
    padding: 20px;
}

span {
    color: red;
}

/* .card > p{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.deal-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgba(229, 84, 115, 0.05); */
    background-blend-mode: overlay;
    color: black;
    height: 80vh;
    border-radius: 8px;
    /* background: #000; */
    /* text-align: center; */
    padding-top: 100px;
}

.deal-detail {
    border-radius: 8px;
    padding-bottom: 20px;
    /* background: #000; */
    text-align: center;
    width: 50%;
    height: 138px;
}

/* .deal-detail h1{
    width: 80px;
    margin: auto;
    padding-bottom: 10px;
}
.deal-detail p{
    width: 70%;
    margin: auto;
    
} */

.flower {
    width: 300px;
    height: 300px;
    /* size: 200px; */
}

.card {
    margin: 40px 60px;
    display: flex;
}

.card,
img {
    /* display: flex; */
    /* justify-content: space-around; */
    gap: 10px;
    align-items: center;
    width: 80%;
    margin: auto;
    size: 80px;

}

.card-img>img {

    /* border: 2px solid red; */
    margin-top: 40px;
    width: 263px;
    height: 280px;
    flex-shrink: 0;
    /* padding: 48px; */
    /* border: 1px solid red; */
}

.hot-deal-text {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-top: 128px;
    border-radius: 8px;
    border-radius: 8px;
    background-image: url("./flower/Rectangle\ 9.png");
}

.docoment {}

.docoment,
h1 {
    font-weight: 800;
    font-size: 40px;
    color: #272727;
    text-align: center;
    padding: 10px 20px;
}

.docoment p {
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 30px;
    color: rgba(39, 39, 39, 0.60);
}

.email-input {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 3px 5px;
}

footer {
    background: #111010;
    color: white;
    height: 200px;
    padding-top: 30px;
}

.footer-div {
    text-align: center;
    padding-bottom: 20px;
    width: 40%;
    margin: auto;
    border: none;
}

.footer-describtion {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

footer p {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}